Source: siconos
Maintainer: Siconos Team <siconos-team@lists.gforge.inria.fr>
Section: science
Priority: extra
Homepage: http://siconos.gforge.inria.fr
Vcs-Git: https://github.com/siconos/siconos
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), dh-python, cmake (>= 3.0.2), gfortran, clang, libboost-dev (>= 1.47), libboost-filesystem-dev, libboost-serialization-dev, libgmp-dev, libhdf5-dev, libopenblas-dev, liblapacke-dev, libopenmpi-dev, libscalapack-mpi-dev, libscotchmetis-dev, libmumps-dev, libbullet-dev, python, python-all-dev, python-numpy, python-lxml, lp-solve, liblpsolve55-dev, swig3.0 (>= 2.0.7), libsuitesparse-dev, doxygen, python-sphinx, python-sphinx-bootstrap-theme, graphviz, pybtex (>= 0.16), python-docutils
X-Python-Version: >= 2.6

Package: siconos
Architecture: any
Depends: ${misc:Depends}, libsiconos-all-dev, python-siconos, siconos-mechanics-tools
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This metapackage can be used to install all Siconos libraries, tools,
 Python modules, and development packages.

Package: libsiconos-common-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, ${python:Depends}
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development support for Siconos components.

Package: libsiconos-all-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-numerics-dev, libsiconos-kernel-dev, libsiconos-externals-dev, libsiconos-mechanics-dev, libsiconos-control-dev, libsiconos-io-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This metapackage can be used to install development support for all
 Siconos components.

Package: libsiconos-numerics4.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-externals4.0.0, lp-solve
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'numerics' component.

Package: libsiconos-numerics4.0.0-dev
Provides: libsiconos-numerics-dev
Conflicts: libsiconos-numerics-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-numerics4.0.0 (= ${binary:Version}),
 libsiconos-externals-dev, cmake (>= 3.0.2)
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'numerics' component.

Package: libsiconos-kernel4.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-numerics4.0.0
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'kernel' component.

Package: libsiconos-kernel4.0.0-dev
Provides: libsiconos-kernel-dev
Conflicts: libsiconos-kernel-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-kernel4.0.0 (= ${binary:Version}),
 libsiconos-numerics-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47),
 lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'kernel' component.

Package: libsiconos-externals4.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'externals' component.

Package: libsiconos-externals4.0.0-dev
Provides: libsiconos-externals-dev
Conflicts: libsiconos-externals-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-externals4.0.0 (= ${binary:Version}), libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'externals' component.

Package: libsiconos-mechanics4.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel4.0.0, libbulletcollision2.83.6
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'mechanics' component.

Package: libsiconos-mechanics4.0.0-dev
Provides: libsiconos-mechanics-dev
Conflicts: libsiconos-mechanics-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-mechanics4.0.0 (= ${binary:Version}),
 libsiconos-kernel-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47),
 lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'mechanics' component.

Package: libsiconos-control4.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel4.0.0
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'control' component.

Package: libsiconos-control4.0.0-dev
Provides: libsiconos-control-dev
Conflicts: libsiconos-control-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-control4.0.0 (= ${binary:Version}),
 libsiconos-kernel-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve,
 libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'control' component.

Package: libsiconos-io4.0.0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel4.0.0
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'io' component.

Package: libsiconos-io4.0.0-dev
Provides: libsiconos-io-dev
Conflicts: libsiconos-io-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libsiconos-io4.0.0 (= ${binary:Version}),
 libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47),
 lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'io' component.

Package: python-siconos
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-scipy, python-h5py, libsiconos-numerics4.0.0,
 libsiconos-kernel4.0.0, libsiconos-mechanics4.0.0,
 libsiconos-control4.0.0, libsiconos-io4.0.0
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains Python wrappers for the C++ library.

Package: siconos-examples
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${python:Depends}, python-siconos, python-matplotlib
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains examples in C++ and Python.

Package: siconos-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, libjs-jquery, libjs-underscore, libjs-mathjax
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains documentation and tutorials in HTML format.

Package: siconos-mechanics-tools
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-siconos, python-vtk6
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at
 modeling and simulating nonsmooth dynamical systems
 .
 This package contains tools for running and viewing 3D mechanics simulations.
