Source: siconos
Maintainer: Siconos Team <siconos-team@lists.gforge.inria.fr>
Section: science
Priority: extra
Homepage: http://siconos.gforge.inria.fr
Vcs-Git: https://github.com/siconos/siconos
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9), dh-python, cmake (>= 3.0.2), gfortran, clang, libboost-dev (>= 1.47), libboost-filesystem-dev, libboost-serialization-dev, libgmp-dev, libhdf5-dev, libopenblas-dev, liblapacke-dev, libopenmpi-dev, libscalapack-mpi-dev, libscotchmetis-dev, libmumps-dev, libbullet-dev, python, python-all-dev, python-numpy, python-lxml, lp-solve, liblpsolve55-dev, swig3.0 (>= 2.0.7), libsuitesparse-dev, doxygen, python-sphinx, python-sphinx-bootstrap-theme, graphviz, pybtex (>= 0.16), python-docutils
X-Python-Version: >= 2.6

Package: siconos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, libsiconos-all-dev, python-siconos, siconos-mechanics
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems

Package: libsiconos-common-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development support for Siconos components.

Package: libsiconos-all-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-numerics-dev, libsiconos-kernel-dev, libsiconos-externals-dev, libsiconos-mechanics-dev, libsiconos-control-dev, libsiconos-io-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package can be used to install development support for all Siconos components.

Package: libsiconos-numerics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-externals
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'numerics' component.

Package: libsiconos-numerics-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-numerics, libsiconos-common-dev, cmake (>= 3.0.2)
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'numerics' component.

Package: libsiconos-kernel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-numerics
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'kernel' component.

Package: libsiconos-kernel-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel, libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'kernel' component.

Package: libsiconos-externals
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'externals' component.

Package: libsiconos-externals-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-externals, libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'externals' component.

Package: libsiconos-mechanics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel, libbulletcollision2.83.7
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'mechanics' component.

Package: libsiconos-mechanics-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-mechanics, libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'mechanics' component.

Package: libsiconos-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'control' component.

Package: libsiconos-control-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-control, libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'control' component.

Package: libsiconos-io
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-kernel
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains the Siconos shared library for the 'io' component.

Package: libsiconos-io-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsiconos-io, libsiconos-common-dev, cmake (>= 3.0.2), libboost-dev (>= 1.47), lp-solve, libgmp-dev
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains development headers for the 'io' component.

Package: python-siconos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, libsiconos-numerics, libsiconos-kernel, libsiconos-mechanics, libsiconos-control, libsiconos-io, python-scipy, python-h5py
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains Python wrappers for the C++ library.

Package: siconos-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-siconos, python-matplotlib
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains examples in C++ and Python.

Package: siconos-doc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjs-jquery, libjs-underscore, libjs-mathjax
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains documentation and tutorials in HTML format.

Package: siconos-mechanics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, libsiconos-mechanics, python-siconos, python-vtk6
Description: modeling and simulation of nonsmooth dynamical systems
 Siconos is an open-source scientific software primarily targeted at modeling and simulating nonsmooth dynamical systems
 .
 This package contains tools for running and viewing 3D mechanics simulations.
