#!/usr/bin/make -f
export DH_VERBOSE=1
# export CC=mpicc
# export FC=mpif90
# export CXX=mpicxx

%:
	dh $@ --with python2

override_dh_auto_configure:
	dh_auto_configure -- \
		-DFORCE_SKIP_RPATH=1 \
		-DNO_RUNTIME_BUILD_DEP=1 \
		-DGAMS_DIR_INSOURCE=1 \
		-DWITH_MUMPS=1 \
		-DWITH_UMFPACK=1 \
		-DWITH_BULLET=1 \
		-DWITH_HDF5=1

override_dh_auto_install:
	dh_auto_install
	dh_numpy
